spring:
  application:
    name: consumer-service
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
    openfeign:
      circuitbreaker:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - circuitbreakers
          - circuitbreakerevents
  health:
    circuitbreakers:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      meterServiceCB:
        failure-rate-threshold: 50
        sliding-window-size: 10
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
