spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
    gateway:
      routes:
        - id: test-route
          uri: https://httpbin.org
          predicates:
            - Path=/test/**
          filters:
            - StripPrefix=1
        - id: meter-service-route
          uri: lb://meter-service
          predicates:
            - Path=/meters/**

management:
  endpoints:
    web:
      exposure:
        include: "*"