spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: file:./config-repo
  consul:
    host: localhost
    port: 8500
    discovery:
      register: true
  profiles:
    active: native

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"