spring:
  application:
    name: pricing-service
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        prefer-ip-address: true
    function:
      definition: analytics
      stream:
        bindings:
          analytics-in-0:
            destination: analytics-events
            group: pricing-group
            content-type: application/json
        rabbit:
          bindings:
            analytics-in-0:
              consumer:
                auto-bind-dlq: true
management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,refresh