spring:
  application:
    name: analytics-service
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        prefer-ip-address: true
    function:
      definition: ${function.chain}
      stream:
        bindings:
          price|tax|discount-in-0:
            destination: meter-events
            group: analytics-group
            content-type: application/json
        rabbit:
          bindings:
            price|tax|discount-in-0:
              consumer:
                auto-bind-dlq: true
    bus:
      enabled: true
management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,refresh,busrefresh

function:
  chain: price|tax|discount
